.keyboardContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  padding-top: 20px;
}

.row {
  width: 270px;
  margin: 0 auto;
}

.lastRow {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}